html {
  background-image: url('./space.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
 -webkit-animation: shrink 30s ; 
  -moz-animation:    shrink 30s ; 
  -o-animation:      shrink 30s ; 
  animation:         shrink 30s ; 
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes scroll {
  0% { -webkit-transform:rotateX(80deg) translateZ(300px) translateY(1100px);opacity:1;}
  40% { -webkit-transform:rotateX(80deg) translateZ(300px) translateY(-340px);opacity:1;}
  80% { -webkit-transform:rotateX(80deg) translateZ(300px) translateY(-1780px);opacity:0;}
  100% { -webkit-transform:rotateX(80deg) translateZ(300px) filltranslateY(-2500px);opacity:0;}
}

@-webkit-keyframes shrink {
  100% {
    width: 0px;
  }
  0% {
    width: 500px;
  }
}
div#title {
  -webkit-perspective: 150px;  Chrome, Safari, Opera  
  perspective: 150px;
}
div#narration {
  color: #E2B421;
  font-size: 48px;  
  /*-webkit-transform: rotateX(45deg);*/
  position: absolute;
   -webkit-animation: scroll 15s ; 
  -moz-animation:    scroll 15s ; 
  -o-animation:      scroll 15s ; 
  animation:         scroll 15s ; 
  -webkit-animation:scroll 70s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-style:preserve-3d;
}
